
@*@{
    ViewData["Title"] = "Test";
}

<h2>Test</h2>
@foreach (var Data in ViewBag.Data2 as List<Pure.Profiler.DbProfilingStorage.TestEntity>)
{
    <p>SEQ: @Data.SEQ</p>
    <p>SEQ: @Data.Id</p>
    <p>SEQ: @Data.Started</p>
    <p>SEQ: @Data.MachineName</p>
    <p>-----------</p>
}*@


